<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.felixkratz.aerospace</string>
	
	<key>ProgramArguments</key>
	<array>
		<string>__HOME__/.dotfiles/config/mac/launchagents/aerospace-wrapper.sh</string>
	</array>
	
	<key>RunAtLoad</key>
	<true/>
	
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>__HOME__</string>
	</dict>
</dict>
</plist>
