alias edit="nvim"

alias edot="nvim ~/.dotfiles"
alias udot="update_dotfiles"

alias evim="nvim ~/.config/nvim"

alias copilot="gh copilot"
alias suggest="gh copilot suggest"

# List directory contents
alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'
alias lsd='ls -l | grep "^d"'
