# Temporary files
*~
*.bak
*.old
.debug.log*

# Local Only Files, Notes and temporary directories
.local
..local
@notes
@local
_local
_notes
_deleteme

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files & Icon?
Thumbs.db
Icon\r

# Build directories
.cache
node_modules
.netlify
.pnpm-store

# Configuration and environment files
.env
.prettierignore
.local

# Ruby-specific files
.yardoc
.yardopts
.ruby-gemset
